<div class="Page">
    <div class="Card">
        <div class="Title">Creating Consumer</div>
        <div class="InputConsumerField">
            <label>Email: </label><br/>
            <input placeholder="Email" class="InputField" [(ngModel)]="consumerEmail">
        </div>
        <div class="InputConsumerField">
            <label>Username: </label><br/>
            <input placeholder="Username" class="InputField" [(ngModel)]="consumerUsername">
        </div>
        <div class="InputConsumerField">
            <label>Phone Number : </label><br/>
            <input placeholder="Phone Number" class="InputField" [(ngModel)]="consumerPhoneNumber">
        </div>
        <button class="Button SaveButton" (click)="saveConsumer()">Save</button>
    </div>
</div>