<div class="Page">
    <div class="Card" *ngIf="deletingConsumer">
        <div class="Title">Deleting Consumer</div>
        <div class="ConsumerField">
            <label>Email: </label>
            <p>{{deletingConsumer.email}}</p>
        </div>
        <div class="ConsumerField">
            <label>Created At: </label>
            <p>{{deletingConsumer.createdAt.toLocaleDateString()}}</p>
        </div>
        <div class="ConsumerField">
            <label>Name: </label>
            <p>{{deletingConsumer.username}}</p>
        </div>
        <div class="ConsumerField">
            <label>Id: </label>
            <p>{{deletingConsumer.id}}</p>
        </div>
        <button class="Button DeleteButton" (click)="deleteConsumer()">Delete</button>
    </div>
    <div class="Card SearchConsumerCard">
        <div class="Title"> Search for a consumer to Delete </div>
        <input class="InputField" [(ngModel)]="toSearchConsumerEmail" placeholder="Consumer Email"/>
        <button (click)="searchConsumer()" class="Button">Search</button>
    </div>
</div>
